nav a {
    color: #242424;
    text-decoration: none;
    font-size: 1em;
    font-family: "Manrope", sans-serif;
}
* {
    margin: 0;
}
.classe_1,.classe_2 {
    
    color:#A5B4FC ;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;

    font-family: "Montserrat", sans-serif;
    
}
p { 
    font-family: "Manrope", sans-serif; 
    font-size: 1.1em;
}

ul {
    font-size: 1em;
    font-family: "Manrope", sans-serif;
}
body {
    background-color: #1F2039;
}
main, header, footer {
    padding: 20px 50px;
    display: block;
    width: 100%;
    box-sizing: border-box;

}
header, footer {
    background-color: white;
}
nav {
    display: flex;
    gap: 20px;
    align-items: center;
}
nav img {
    height: 40px;
}


p,ul,h2 {
    color:#F9F8FF;
}
.cta { 
    color: white;
    font-family: "Manrope", sans-serif;
    background: linear-gradient(#8E86B5,#ACAEED);
    border-radius: 50px;
}
.classe_5 {
    padding: 50px;
    display: inline-block;
    border-right: 1px #8e86b5 solid;
    border-bottom: 1px #8e86b5 solid;
}
header a:hover {
    text-decoration: underline;
}
.cta:hover {
    background: linear-gradient(#696484,#8788BA);
}
header:hover, footer:hover {
    opacity:0.5;
}
header {
    background-color: white;
}
section { 
    padding: 80px;
}
.ctr {
    width: 80%;
    margin: 0 auto;
}

.marge_1, .marge_2 {
    margin-top: 30px,
}